<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-7">
        <h2>Post a course</h2>
        <h3>From City College of San Francisco</h3><br />
          <%= form_with(model: course, local: true) do |form| %>
            <% if course.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

                <ul>
                <% course.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.text_field :code, id: :course_code, class: "form-control", :style => "background: transparent; border: none; font-size: 2em", :placeholder => "Course Code" %>
            </div><br />

            <div class="form-group">
              <%= form.text_field :name, id: :course_name, class: "form-control", :style => "background: transparent; border: none; font-size: 2em", :placeholder => "Course Name"%>
            </div><br />

            <div class="form-group">
              <%= form.text_field :department, id: :course_department, class: "form-control", :style => "background: transparent; border: none; font-size: 2em", :placeholder => "Department Name"%>
            </div><br />
          </div>
          <div class="col-md-5">
            <div class="form-group" style="position: absolute; bottom: 20px; right:20px;">
              <%= form.submit class: "btn btn-primary", value: "Create Course"  %>
              <%= link_to 'Back', courses_path(@course), class: "btn btn-default" %>
            </div>
          <% end %>

        <h2>Dos</h2>
          <h5>Make sure the course code is correct</h5>
          <h5>Make sure the course name is correct</h5>
          <h5>Make sure the department name is correct</h5>

        <h2>Don'ts</h2>
          <h5>Use profanity, name calling, derogatory terms</h5>
          <h5>Post a course you never took</h5>
      </div>
    </div>
  </div>
</div>
