<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-7">
        <h2 style="border-bottom: 1px solid gray; margin-top: 0; padding-bottom: 15px; font-weight: bold; color:#1d7312;"><%= edit ? "Edit" : "Post" %> a course</h2>
        <h3>From<span style="color:#801714"> City College of San Francisco</span></h3><br />
          <%= form_with(model: course, local: true) do |form| %>
            <% if course.errors.any? %>
              <div id="error_explanation" class="alert alert-danger" role="alert">
                <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

                <ul>
                <% course.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= form.text_field :code, id: :course_code, class: "form-control", :placeholder => "Course Code. Ex. CS177", :maxlength => 8 %>
            </div><br />

            <div class="form-group">
              <%= form.text_field :name, id: :course_name, class: "form-control", :placeholder => "Course Name. Ex. Software Engineering", :maxlength => 32 %>
            </div><br />

            <div class="form-group">
              <%= form.text_field :department, id: :course_department, class: "form-control", :placeholder => "Department Name. Ex. Computer Science", :maxlength => 32 %>
            </div><br />
          </div>

    <div class="col-md-5">
        <h2>Dos</h2>
          <h5>Make sure the course code is correct</h5>
          <h5>Make sure the course name is correct</h5>
          <h5>Make sure the department name is correct</h5>

        <h2>Don'ts</h2>
          <h5>Use profanity, name calling, derogatory terms</h5>
          <h5>Post a course you never took</h5>
        </div>
    </div>
    <div class="form-group">
      <%= form.submit class: "btn btn-lg btn-warning", value: "Submit" %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to 'Cancel', courses_path(@course), class: "btn btn-lg btn-default" %>
    </div>
  <% end %>
  </div>
</div>
