<div class="container">
  <div class ="jumbotron" style="padding-top: 80px;">
    <div class="row">
      <div class="col-xs-6">
        <h1 style="font-size: 38px; margin: 0">I want to rate my course for</h1>
      </div>
      <div class="col-xs-4" style="padding-top: 4px;">
        <input type="text" style="font-size: 18px;" class="form-control" placeholder="Department Name">
      </div>
      <div class="col-xs-2" style="padding-top: 4px;">
        <input type="text" style="font-size: 18px;" class="form-control" placeholder="Course Code">
      </div>
    </div>
    <div style="text-align: center; margin-top: 60px;">
      <button type="submit" class="btn btn-primary btn-lg">Search</button>
    </div>
  </div>

<table>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.code, course %></td>
    </tr>
    <tr>
      <td><%= link_to course.name, course %></td>
    </tr>
    <tr>
      <td><%= course.department %> Department</td>
    </tr>
    <div class="star-rating" data-score= <%= course.avg_rating %> ></div>
    
        <tr><%= link_to 'Edit', edit_course_path(course) %></tr>
        <tr><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></tr>
        <tr>City College of San Francisco</tr>
        #put rating here

      </td>

      <td>
        #review here
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Course', new_course_path %>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3-us-west-1.amazonaws.com/ratemycourse/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
