<div class="container">
  <h2 class="bar"><span style="text-align: center; font-size: 26px;">Search Result</span></h2>
  <div style="padding: 0px;">
  <% if @courses.length == 0 %>
    <div style="background-color: white; margin: 20px 0 0 0; padding: 20px 25px; font-size: 1.5em">
      The course you are looking for has not been posted yet. Be the first one to
      <% if user_signed_in? %>
        <%= link_to 'post it', new_course_path, class: "btn btn-warning" %>
      <% end %>
    </div>
  <% end %>

  <% @courses.each do |course| %>
  <div style="margin-top: 25px; background: white; padding: 20px;">
    <div class="row">
    <div class="col-md-4">
      <h3 style="font-size: 2.5em; font-weight: bold;"><%= link_to course.code, course %>
        <% if user_signed_in? && course.user == current_user %>
          <span style="font-size: 15px; "><%= link_to 'Edit', edit_course_path(course) %></span>
          <span style="font-size: 15px; "><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %>
      </h3>

      <p style="color: grey; font-size: 1.2em">
        <strong><%= link_to course.name, course %></strong>
      </p>

      <p style="font-size: 1.2em">
        <%= course.department %> Department
      </p>

      <h3 style="color:#801714"><strong>City College of San Francisco</strong></h3>
      <h4 style="color: #f1a82b">Average Rating : <%= course.avg_rating %> / 10 </h4>
      <div style="margin-top: 30px">
        <%= link_to "Rate This Course", new_course_review_path(course), class: "btn btn-success"%>
      </div>
    </div>
  </div>
  </div>
  <% end %>
</div>
</div>
