<div class="container">
  <div class="jumbotron" style="position: relative;">
    <div class="row">
      <div class="col-md-7">
        <p style="font-size: 2.5em; font-weight: bold;"><%= @course.code %>
        <span style="font-size: 15px; "><%= link_to 'Edit', edit_course_path(@course) %></span></p>

        <p style="color: grey">
          <strong><%= @course.name %></strong>
        </p>

        <p>
          <%= @course.department %>
        </p>

        <h3><strong>City College of San Francisco</strong></h3>
        <div class="star-rating" data-score= <%= @avg_rating %> ></div>
        <p>(<%= "#{@reviews.length} reviews" %>)</p>

      </div>
      <div class="col-md-5" style="position: absolute; bottom: 30px; right:20px;">
      <%= link_to "Rate This Course", new_course_review_path(@course), class: "btn btn-primary btn-lg pull-right active"%>
      </div>

    </div>
  </div>
</div>



<div class="container">
    <div class="col-md-9">
        <% if @reviews.blank? %>
          <h3>No reviews yet. Be the first to write one!</h3>
        <% else %>
        <div class="container">
          <h2 class="bar"><span style="text-align: center; font-size: 26px;">Recent Reviews</span></h2>
        </div>
          <% @reviews.each do |review| %>
            <div class="star-rating" data-score= <%= review.rating %> ></div>

            <p><%= review.title %></p>
            <p>Tutor(s): <%= review.tutor %></p>
            <p><%= review.semester %><%= review.year %><%= review.credit %><%= review.mandatory %><%= review.online %></p>
            <p><%#= review.review %></p>
            <a href="<%= review.reading1 %><%= review.reading2 %><%= review.reading3 %><%= review.reading4 %>" target="_blank">Reading Material</a>
            <p><%= h(review.review).gsub(/\n/, '<br/>').html_safe %></p>
            <p>
              Posted by : <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
              Created at : <%= review.created_at.strftime("%B %d, %Y") %>
            </p>
          <% end %>
        <% end %>
    </div>


    <script>
    $('.star-rating').raty({
      path: 'https://s3-us-west-1.amazonaws.com/ratemycourse/starss',
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
  </script>
</div>
