<div class="container">
  <%= form_with(model: [@course, @review], local: true) do |form| %>
    <% if review.errors.any? %>
      <div id="error_explanation" class= "alert alert-danger alert-dismissable">
        <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <h5>When did you take the course? &nbsp;&nbsp;
      <%= form.select :semester, options_for_select([['Fall'], ['Summer'], ['Spring']]) %>
      <%= form.date_select :year, :order => [:year], :start_year => 1935, :end_year => Time.now.year, :prompt => {:year => "Select year"} %></h5>
    </div>

    <div class="form-group">
      <%= form.label :tutor %>
      <em style="color : grey">( List your tutors, separated by commas. Examples: John Doe, Kim Lee. )</em>
      <%= form.text_area :tutor, id: :review_tutor, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :title %>
      <em style="color : grey">( Please be informative and specific. Max 40 characters. )</em>
      <%= form.text_area :title, id: :review_title, class: "form-control", :maxlength => 40 %>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="form-group">
      <h5>The course was&nbsp;&nbsp;
      <%= form.select :credit, options_for_select([['Credited'], ['Non-Credit']]) %>
      <%= form.select :mandatory, options_for_select([['Mandatory'], ['Non-Mandatory']]) %>
      <%= form.select :online, options_for_select([['In-Person'], ['Online']]) %></h5>
      <em style="color: gray">Credited, Mandatory Attendance and In-Person class are default</em>

    </div>
    <div class="form-group">
      <%= form.label :rating %>
      <em style="color : grey">( on a scale of 1 to 10 )</em>
      <%= form.number_field :rating, id: :review_rating, class: "form-control" %>
    </div>
  </div>
</div>

    <div class="form-group">
      <%= form.label :review %>
      <em style="color : grey">( Please be honest and respectful. Max 350 characters. )</em>
      <%= form.text_area :review, id: :review_review, class: "form-control", :maxlength => 350 %>
    </div>

    <div class="form-group">
      <%= form.label :Reading_Material %>
      <em style="color : grey">(Optional)</em><br />
      <%= form.text_field :reading1, id: :review_reading1, class: "form-control", placeholder: "https://readingsource.com" %>
      <br />
      <%= form.text_field :reading2, id: :review_reading2, class: "form-control", placeholder: "https://readingsource.com" %>
      <br />
      <%= form.text_field :reading3, id: :review_reading3, class: "form-control", placeholder: "https://readingsource.com" %>
      <br />
      <%= form.text_field :reading4, id: :review_reading4, class: "form-control", placeholder: "https://readingsource.com" %>
    </div>



    <div class="form-group">
      <%= form.submit class: "btn btn-lg btn-success pull-right", value: "Submit", style: "margin:20px"%>
    </div>

  <% end %>
</div>
