<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-7">
        <h2 style="border-bottom: 1px solid gray; margin-top: 0; padding-bottom: 23px; font-weight: bold; color:#1d7312;">Rate this course</h2>
        <hr>
        <p style="font-size: 2.5em; margin-bottom: 23px; font-weight: bold"><%= @course.code %></p>

        <p style="color: grey">
          <strong><%= @course.name %></strong>
        </p>

        <p>
          <%= @course.department %>
        </p>

        <h3 style="color:#801714"><strong>City College of San Francisco</strong></h3>
        <h4 style="color: #f1a82b">Average Rating : <%= @course.avg_rating %> / 10 </h4>

      </div>
      <div class="col-md-5" style="border-left: 1px solid gray; padding-left: 30px;">
        <h2>Dos</h2>
          <h5>Make sure the course code is correct</h5>
          <h5>Be descriptive and respectful in your review</h5>
          <h5>Discuss how the course is conducted by the tutor(s)</h5>
          <h5>Discuss the course impact on your learning</h5>

        <h2>Don'ts</h2>
          <h5>Use profanity, name calling, derogatory terms</h5>
          <h5>Post a review of a course you never took</h5>
      </div>

    </div>
  </div>
</div>


<%= render 'form', review: @review %>
