<p id="notice"><%= notice %></p>

<p>
  <strong>Tutor:</strong>
  <%= @review.tutor %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @review.semester %>
</p>

<p>
  <strong>Year:</strong>
  <%= @review.year %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @review.credit %>
</p>

<p>
  <strong>Mandatory:</strong>
  <%= @review.mandatory %>
</p>

<p>
  <strong>Online:</strong>
  <%= @review.online %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<p>
  <strong>Reading1:</strong>
  <%= @review.reading1 %>
</p>

<p>
  <strong>Reading2:</strong>
  <%= @review.reading2 %>
</p>

<p>
  <strong>Reading3:</strong>
  <%= @review.reading3 %>
</p>

<p>
  <strong>Reading4:</strong>
  <%= @review.reading4 %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
